.container-fluid{
    /* margin-left: 320px;
     */
     width: 70%;
     margin: auto;
     padding: 50px 50px;
    /* margin: auto; */

}
@media screen and (max-width: 600px) {
    .container-fluid{
        width: 50%;
        margin-left: 0px;
    }

}
